<div class="container">
    <div class="row align-items-center">
        <!-- Left Content -->
        <div class="col-lg-6">
            <div class="banner-text">
                <h1>
                    HI, I'M <span class="highlight">Vikas Rathod</span> 
                    Creative 
                    <span class="cd-headline rotate-1">
                        <span class="cd-words-wrapper">
                            <b class="is-visible">Designer</b>
                            <b class="is-hidden">Coder</b>
                            <b class="is-hidden">Player</b>
                        </span>
                    </span>
                </h1>
                <p>
                    I'm a passionate UI/UX designer with a mission to create delightful and intuitive digital experiences.
                    With a strong foundation in design principles and a keen eye for detail, I specialize in translating
                    complex ideas into user-friendly interfaces that captivate and engage.
                </p>
                <div class="banner-buttons">
                    <a href="#" class="btn btn-primary">Download CV 
                        <i class="fa-solid fa-download"></i>
                    </a>
                    
                </div>
            </div>
        </div>

        <!-- Right Image -->
        <div class="col-lg-6 text-center">
            <div class="banner-img">
                <img src="src/assets/images/img.jpg"
                    alt="vikas" class="img-fluid">
            </div>
        </div>
    </div>
</div>
