<nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="#">Vikas Rathod</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/" >Home</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="skills">Skills</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
                </li>
                        
            </ul>
            <div class="d-flex justify-content-start m-1">
                <a href="https://wa.me/918830202628" target="_blank" rel="noopener noreferrer" class="btn btn-outline-light ms-2">+91 8830202628</a>
              </div>                   
            <a routerLink="contactUs"  class="btn btn-success ms-3">Contact Us</a>
        </div>
    </div>
</nav>


