/* Active link styling */
.active {
    /* background-color: #023d9c; */
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    text-decoration: underline;
    text-underline-offset: 5px; /* Adjusts spacing of underline */
}

/* Navbar link styling */
.navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    padding: 10px 15px;
    margin: 0px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Hover effect for navbar links */
.navbar-nav .nav-link:hover {
    color: #ffcc00;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    border-radius: 8px;
}

/* Active state for navbar links */
.navbar-nav .nav-link.active {
    color: #fff;
    /* background-color: #023d9c; */
    transform: scale(1.05);
}

/* Button styling */
.btn-success {
    color: #fff;
    background-color: #02b016;
    border-color: #02b016;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Hover effect for button */
.btn-success:hover {
    background-color: #028213;
    border-color: #028213;
    box-shadow: 0px 4px 10px rgba(2, 176, 22, 0.3);
    transform: scale(1.05);
}

/* Active effect for button */
.btn-success:active {
    background-color: #02660f;
    transform: scale(0.98);
}
