<footer class="footer bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <!-- Left Section -->
      <div class="col-md-4 text-center text-md-start text-white">
        <h5><i class="fas fa-user me-1"></i> Vikas Rathod</h5>
        <p><i class="fas fa-envelope me-1"></i> vksrathod&#64;gmail.com</p>
        <p><i class="fa-solid fa-phone me-1"></i>+91 8830202628</p>
        <p><i class="fas fa-code me-1"></i> Building scalable and high-performance web applications.</p>
      </div>

      <!-- Center Section: Navigation -->
      <div class="col-md-4 text-center">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/" class="footer-link">Home</a></li>
          <li><a routerLink="/about" class="footer-link">About</a></li>
          <li><a routerLink="/contactUs" class="footer-link">Contact</a></li>
          <li><a routerLink="/projects" class="footer-link">Projects</a></li>
        </ul>
      </div>

      <!-- Right Section: Social Links -->
      <div class="col-md-4 text-center text-md-end">
        <h5 class="me-3">Follow Me</h5>
        <a href="www.linkedin.com/in/vikas-rathod-389531228" target="_blank" class="social-link"><i
            class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com" target="_blank" class="social-link"><i
            class="fa-brands fa-git-alt text-danger"></i></a>
        <a href="https://whatsapp.com" target="_blank" class="social-link"><i class="fa-brands fa-whatsapp"></i></a>
        
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center mt-3">
      <p class="mb-0">&copy; 2024 Vikas Rathod. All Rights Reserved.</p>
    </div>
  </div>
</footer>