
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Content -->
            <div class="col-lg-6 mt-5">
                <div class="banner-text text-white">
            
                    <h2 class="fw-bold">Hi, I'm <span class="">Vikas Rathod</span></h2>
                    <h4 class="text-primary fw-semibold fade-in">Full-Stack Developer (Angular & .NET)</h4>
            
                    <p class="fw-light">
                        I’m a dedicated Full-Stack Developer with expertise in Angular and .NET, crafting scalable and
                        high-performance web applications. I focus on building robust backends and dynamic frontends to
                        deliver seamless user experiences.
                    </p>
            
                    <!-- .NET MAUI Chat App Description -->
                    <p class="fw-light mt-3">
                        Recently developed a cross-platform <strong>.NET MAUI Chat Application</strong> with a WhatsApp-style UI, real-time SignalR communication, and mobile/desktop responsiveness — showcasing modern, efficient, and maintainable code architecture.
                    </p>
            
                    <div class="banner-buttons mt-3">
                        <a href="assets/profile.pdf" class="btn btn-primary" download="profile.pdf">
                            Download CV <i class="fa-solid fa-download"></i>
                        </a>
                    </div>
                </div>
            </div>
            

            <!-- Right: Hexagon Image -->
            <div class="col-lg-6 mt-5 text-center ">
                <div class="banner-img">
                    <img src="assets/img.jpg" alt="vikas" class="hexagon-img">
                </div>
            </div>
        </div>
    </div>

